<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.WordMapper">

	<select id="selectAll" resultType="Word">
		SELECT 
			* 
		FROM 
			words
	</select>
	
	<select id="selectWordById" parameterType="Integer" resultType="Word">
		SELECT 
			* 
		FROM 
			words
		WHERE
			id = #{id}
	</select>
	
	<update id="incrementPageViews" parameterType="Integer">
		UPDATE 
			words 
		SET 
			page_views = page_views + 1 
		WHERE 
			id = #{id};
	</update>
	
		
</mapper>
