<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${pageTitle}]]</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <h1>---[[${pageTitle}]]---</h1>

    <th:block th:object="${word}">
        <form th:action="@{/mydictionary/word/add}" method="post">
        <!-- <form th:action="@{/mydictionary/word/confirm(id=*{id}, name=*{name})}" method="get"> -->
        
        
<!-- **********変更不可のフィールドは表示した内容そのままを送信パラメーターの値とする　************* -->    
            <!-- ID 
                単語名
                登録日時
                更新日時
                最終閲覧の日時
                閲覧回数
            -->
            
            <input type="hidden" th:field="*{id}" />    
            <input type="hidden" th:field="*{registeredAt}" />
            <input type="hidden" th:field="*{updatedAt}" />
            <input type="hidden" th:field="*{lastViewAt}" />
            <input type="hidden" th:field="*{pageViews}" />
            
<!-- ***************************************************************** -->    
            <h1>
                <input type="text" th:field="*{name}" th:placeholder="'ここに単語名を入力してください。※1～50文字以内'" maxlength="50" required />
                <small>(読み方：<input type="text" th:field="*{pronunciation}" th:placeholder="'ここに読み方を入力してください。※1～50文字以内'" maxlength="50" />)</small>
            </h1>

            <hr>

            <br>
            <table border="1">
                <tr>
                    <th>登録している辞典</th>
                    <td>
                        <th:block th:each="dict : ${dictList}">
                                <input type="checkbox" 
                                       name="registeredDictIdList"
                                       th:value="${dict.id}">
                                       [[${dict.id}]].[[${dict.name}]]
                        </th:block>
                    </td>
                </tr>
                                               
                <tr>
                    <th>シンプル意味</th>
                    <td><input type="text" th:field="*{simpleDescription}" th:placeholder="*{simpleDescription}" maxlength="30" required /></td>
                </tr>
                <tr>
                    <th>詳細</th>
                    <td><textarea th:field="*{detailedDescription}" rows="6"
                            style="width: 300px;" th:placeholder="'ここにより具体的な説明文を入力してください。'"></textarea></td>
                </tr>
                <tr>
                    <th>参照</th>
                    <td><input type="text" th:field="*{referenceUrl}" th:placeholder="'ここに登録したいURLを入力してください。※1～50文字以内'" maxlength="50" /></td>
                </tr>
            </table>
            <input type="submit" value="送信">
        </form>

    </th:block>
    <p>
        <a th:href="@{/mydictionary/show/all}">一覧に戻る</a>
    </p>

</body>
</html>
