<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>全単語一覧</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
   
</head>
<body>
    <h1>全単語一覧<small>Version0.6</small></h1>

    <p><a th:href="@{/mydictionary/word/add}">新しい単語を追加する</a></p> <!-- 新規単語追加ページへのリンク -->
    <hr>

	<p>単語登録数：[[${totalWords}]]語</p>
	<ul>
			<li th:each="dict : ${dictList}" th:object="${dict}">
			[[*{name}]]辞典:[[*{wordAmount}]]語
			</li>
<!-- 				<li　>英単語辞典：3語</li>
				<li>日本語辞典：1,500語</li>
				<li>コーディング用語辞典：5語</li>
				<li>その他辞典：1語</li> -->
	</ul>
	
	<h2 th:if="${statusMessage}">[[${statusMessage}]]</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>辞典名</th>
                <th>単語</th>
                <th>読み方</th>
                <th>意味</th>
                <th>登録日時</th>
                <th>更新日時</th>
                <th>最後に見た日時</th>
                <th>閲覧回数</th>
                <th>操作</th> <!-- 追加 -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="word : ${wordList}" th:object="${word}">
                <td>
                    <th:block  th:each="registeredDict : *{registeredDictList}">
                        <p>
                            <a th:href="@{/dictionary(id=${registeredDict.id})}">
                                [[${registeredDict.name}]]
                            </a>
                        </p>    
                    </th:block>
                </td>
                <td>
                    <a th:href="@{/mydictionary/show/word{id}/{name}(id=*{id}, name=*{name})}">
                        [[*{name}]]
                    </a>
                </td>
                <td>[[*{pronunciation}]]</td>
                <td>[[*{simpleDescription}]]</td>
                <td>[[*{#temporals.format(registeredAt, 'yyyy/MM/dd HH:mm')}]]</td>
                <td>[[*{#temporals.format(updatedAt, 'yyyy/MM/dd HH:mm')}]]</td>
                <td>[[*{#temporals.format(lastViewAt, 'yyyy/MM/dd HH:mm')}]]</td>
                <td>[[*{pageViews}]]</td>
                <td>
                    <a th:href="@{/mydictionary/word/edit(id=*{id})}">編集</a> <!-- 編集ボタン -->
                    <a th:href="@{/mydictionary/word/delete(id=*{id})}" onclick="return confirm('削除してもよろしいですか？')">削除</a> <!-- 削除ボタン -->
                </td>
            </tr>
        </tbody>    
    </table>

</body>
</html>
